body {
    background: rgb(0, 157, 209);
}

header {
    color: white;
    text-align: center;
    width: auto;
    height: auto;

}

<<<<<<< HEAD
#imgfundo {
    border-radius: 100px;
}

=======
>>>>>>> 2cc6266332e6e59e76d194ef56756f2d18a44ba6
#horaatual{
    text-align: center;
    font: times;
    font-size: 20px;
    color: white;
}

section {
    background: white;
    border-radius: 300px;
    padding: 15px;
    margin: auto;
    width: 500px;
<<<<<<< HEAD
    max-width: 100%;
=======
    margin-top: 20px;
>>>>>>> 2cc6266332e6e59e76d194ef56756f2d18a44ba6
}

#periodo {
    color: black;
    text-align: center;
    font: times;
    font-size: 20px;
    font-weight: bold;
<<<<<<< HEAD
    padding: 10px;
=======
>>>>>>> 2cc6266332e6e59e76d194ef56756f2d18a44ba6
}

#imagem{
    text-align: center;
<<<<<<< HEAD
    height: auto;
    width: auto;
    
=======
    padding: 20px;
    height: auto;
    width: auto;
>>>>>>> 2cc6266332e6e59e76d194ef56756f2d18a44ba6
}

footer {
    color: white;
    text-align: center;
}